<div class="row">
    @foreach (var item in Collection)
    {
        <div class="col card-group">
            <div class="card bg-white text-dark p-2">
                <div class="card-body">
                    <div class="badge bg-secondary text-white">@item.Room</div>
                    <h3 class="card-title my-3">@item.Title</h3>

                    @if (item.Speakers.Any())
                    {
                        <h6 class="card-subtitle text-muted mb-3">
                            @foreach (var speaker in item.Speakers)
                            {
                                @if (!string.IsNullOrEmpty(speaker.ProfilePicture))
                                {
                                    <img src="@speaker.ProfilePicture" width="50px" class="rounded-circle" />
                                    <span class="px-3">@speaker.Name - @speaker.Title</span>
                                }
                                else
                                {
                                    <span>@speaker.Name - @speaker.Title</span>
                                }
                            }
                        </h6>
                    }

                    @if (TimeLeft(item) > 5)
                    {
                        <p class="card-text">@item.Description</p>
                    }
                    <p class="card-text">
                        @foreach (var tag in item.Tags)
                        {
                            <span class="badge bg-danger rounded-pill me-2">@tag</span>
                        }
                    </p>

                    @if (item.Start > GetReferenceDateTime())
                    {
                        <p class="card-text"><small class="text-muted">Start <strong>@item.Start.ToShortTimeString()</strong></small></p>
                    }
                    else
                    {
                        <p class="card-text"><small class="text-muted">Ends in @TimeLeft(item) minutes.</small></p>
                    }

                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public IEnumerable<Summary> Collection { get; set; } = Enumerable.Empty<Summary>();

    [Parameter]
    public DateTime? Date { get; set; }

    public double TimeLeft(Summary summary)
    {
        return Math.Floor(summary.End.Subtract(GetReferenceDateTime()).TotalMinutes);
    }

    public DateTime GetReferenceDateTime()
    {
        return Date ?? DateTime.Now;
    }
    }